@model PagedList.PagedList<se_liga_mogi.Models.diarias_e_passagens>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Diárias e passagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Diarias e passagens</h2>

<table class="table">
    <tr>
        <th>
            Data Inicio
        </th>
        <th>
            Data Fim
        </th>
        <th>
            Destino
        </th>
        <th>
            Motivo
        </th>
        <th>
            Valor
        </th>
        <th>
            Nome do Servidor
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_fim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servidores.nome_servidor)
        </td>
    </tr>
}

</table>

<div style="display:block; position:relative; width: 315px; left: calc(85% - 152px);">
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, currentFilter = ViewBag.CurrentFilter, Pesquisa = ViewBag.Pesquisa }), new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false
    })
</div>