@model PagedList.PagedList<se_liga_mogi.Models.diarias_e_passagens>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Diárias e passagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Diarias e passagens</h2>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarColor03">
        @using (Html.BeginForm("Index", "servidores", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
        {
            <span style="margin-right: 10px">Buscar pelo Nome: </span>
            @Html.TextBox("Pesquisa", "", new { @class = "form-control mr-sm-2" })
            <span style="margin-right: 10px">Buscar por intervalo de: </span>
            <span style="margin-right: 10px">Valor mínimo: </span>
            @Html.TextBox("Min", "", new { @class = "form-control mr-sm-2", type = "number" })
            <span style="margin-right: 10px">Valor máximo: </span>
            @Html.TextBox("Max", "", new { @class = "form-control mr-sm-2", type = "number" })
            <span style="margin-right: 10px">Data mínima: </span>
            @Html.TextBox("DataMin", "", new { @class = "form-control mr-sm-2", type = "date" })
            <span style="margin-right: 10px">Data máxima: </span>
            @Html.TextBox("DataMax", "", new { @class = "form-control mr-sm-2", type = "date" })
            <button class="btn btn-info my-2 my-sm-0" type="submit" value="Pesquisar">Buscar</button>
        }
    </div>
</nav>

<table class="table">
    <tr>
        <th>
            Data Inicio
        </th>
        <th>
            Data Fim
        </th>
        <th>
            Destino
        </th>
        <th>
            Motivo
        </th>
        <th>
            Valor
        </th>
        <th>
            Nome do Servidor
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data_fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.servidores.nome_servidor)
            </td>
        </tr>
    }

</table>

<div style="display:block; position:relative; width: 315px; left: calc(85% - 152px);">
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, Pesquisa = ViewBag.Pesquisa, Min = ViewBag.Min, Max = ViewBag.Max, DataMin = ViewBag.DataMin, DataMax = ViewBag.DataMax }), new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false
    })
</div>

