@model PagedList.PagedList<se_liga_mogi.Models.servidores>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarColor03">
        @using (Html.BeginForm("Index", "servidores", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
        {
            <span style="margin-right: 10px">Buscar pelo Nome: </span>
            @Html.TextBox("Pesquisa", "", new { @class = "form-control mr-sm-2" })
            <button class="btn btn-info my-2 my-sm-0" type="submit" value="Pesquisar">Buscar</button>
        }
    </div>
</nav>

<table class="table">
    <tr class="table-info">
        <th>
            RGF
        </th>
        <th>
            Nome do Servidor
        </th>
        <th>
            Cargo do Servidor
        </th>
        <th>
            Salario do Servidor (R$)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.rgf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_servidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargo_servidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salario_servidor)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.rgf }, new { @class = "btn btn-info btn-sm" })
            </td>
        </tr>
    }

</table>

<div style="display:block; position:relative; width: 315px; left: calc(85% - 152px);">
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, currentFilter = ViewBag.CurrentFilter, Pesquisa = ViewBag.Pesquisa }), new PagedListRenderOptions
{
    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
    DisplayLinkToLastPage = PagedListDisplayMode.Never,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    MaximumPageNumbersToDisplay = 5,
    DisplayEllipsesWhenNotShowingAllPageNumbers = false
})
</div>