@model se_liga_mogi.Models.projetos_de_lei

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>projetos_de_lei</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.autor_projeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autor_projeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anotacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anotacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numero_projeto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
