@model se_liga_mogi.Models.servidores

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Detalhes dos servidores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            RGF
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rgf)
        </dd>

        <dt>
            Nome do servidor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_servidor)
        </dd>

        <dt>
            Cargo do Servidor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo_servidor)
        </dd>

        <dt>
            Salário do Servidor (R$)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario_servidor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar à lista", "Index", "Home", new { area = "" }, new { @class = "btn btn-info btn-sm" })
</p>
